{% extends "_base.html" %} {% block content %}
<h1>Upcoming Events & Sign Up</h1>
<div>
  <a class="btn btn-primary" href="{{ url_for('events.create_event') }}"
    >Create New Event</a
  >
</div>
<!-- Event List Start -->
<section>
  {% for event in event_info %}
  <!-- Event Item Start -->
  <h6>
    <a href="{{ url_for('events.event', event_id=event.id) }}"
      >{{ event.title }}</a
    >
  </h6>
  <p>{{ event.description }}</p>
  <p>{{ event.short_name }}</p>
  <!-- Event Date/Time Converted Information Start-->
  <div class="event__list-time">
    <span class="event_date" style="display: none"
      >{{ event.start_date.strftime('%A, %B %d, %Y') }}</span
    >
    <span class="event_time" style="display: none"
      >{{ event.start_time.strftime('%I:%M %p') }}</span
    >
    <span class="event_timezone" style="display: none"
      >{{ event.start_timezone }}</span
    >
    <span class="event_convertedDate"></span>
    <br />
    <span class="event_convertedTimeTz"></span>
    <br />
  </div>
  <!-- Event Date/Time Converted Information End-->
  <p>{{ event.attendee_count }} / {{ event.max_attendees }}</p>
  <a
    class="btn btn-primary"
    href="{{ url_for('events.event_signup', event_id=event.id) }}"
    >Sign Up</a
  >
  <a
    class="btn btn-secondary"
    href="{{ url_for('events.event', event_id=event.id) }}"
    >View Event Info</a
  >
  <br />
  <br />
  {% endfor %}
  <!-- Event Item End -->
</section>
<!-- Event List End -->
<!-- Start Pagination-->
<div>
  <div class="">
    <ul class="d-flex flex-wrap justify-content-center">
      {% if event_info.has_prev %}
      <li>
        <a
          class="page-numbers"
          href="{{ url_for('events.view_events', page=event_info.prev_num) }}"
          ><<</a
        >
      </li>
      {% else %}
      <li class="page-numbers disabled">
        <span class="page-numbers"><<</span>
      </li>
      {% endif %} {% for page_num in event_info.iter_pages(left_edge=1,
      right_edge=1, left_current=2, right_current=2) %} {% if page_num %} {% if
      event_info.page == page_num %}
      <li>
        <span class="page-numbers current">{{ page_num }}</span>
      </li>
      {% else %}
      <li>
        <a
          class="page-numbers"
          href="{{ url_for('events.view_events', page=page_num) }}"
          >{{ page_num }}</a
        >
      </li>
      {% endif %} {% else %}
      <li>
        <span class="page-numbers">...</span>
      </li>
      {% endif %} {% endfor %} {% if event_info.has_next %}
      <li>
        <a
          class="page-numbers"
          href="{{ url_for('events.view_events', page=event_info.next_num) }}"
          >>></a
        >
      </li>
      {% else %}
      <li>
        <span class="page-numbers disabled">>></span>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
<!-- End Pagination -->
<!-- Convert Timezone -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get all the tournament__list-time elements
    const eventElements = document.querySelectorAll(".event__list-time");

    // Iterate over each event and convert the date, time, and timezone
    eventElements.forEach(function (eventElement) {
      const dateElement = eventElement.querySelector(".event_date");
      const timeTextElement = eventElement.querySelector(".event_time");
      const timezoneElement = eventElement.querySelector(".event_timezone");

      // Check if the elements are found and have the expected content
      if (dateElement && timeTextElement && timezoneElement) {
        const date = dateElement.textContent;
        const time = timeTextElement.textContent;
        const timezone = timezoneElement.textContent;

        // Create a datetime string with a specific format for parsing
        const dateTimeString = `${date} ${time}`;

        // Parse the datetime string with the specified format and provided timezone using Moment.js
        const momentObj = moment.tz(
          dateTimeString,
          "dddd, MMMM D, YYYY hh:mm A",
          timezone
        );

        // Check if the parsed moment object is valid
        if (momentObj.isValid()) {
          // Convert the moment object to the user's browser timezone using Moment.js
          const convertedDateTime = momentObj.clone().tz(moment.tz.guess());

          // Populate the converted date, time, and timezone to the DOM
          const convertedDateElement = eventElement.querySelector(
            ".event_convertedDate"
          );
          convertedDateElement.textContent = convertedDateTime
            .clone()
            .format("dddd, MMMM D, YYYY");
          const convertedTimeTzElement = eventElement.querySelector(
            ".event_convertedTimeTz"
          );
          convertedTimeTzElement.textContent = convertedDateTime
            .clone()
            .format("hh:mm A z");
        } else {
          console.log("Invalid datetime format");
        }
      }
    });
  });
</script>
{% endblock content %}
