{% extends '_base.html' %} {% block content %}
<div class="container-fluid pt-4 px-4">
  <div class="col-sm-12">
    <div class="bg-light rounded h-100 p-4">
      <h6 class="mb-4">Create Message</h6>
      <!-- Start Create Message -->
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          {{ form.message_to_id.label(class="form-label") }}{{
          form.message_to_id(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.message.label(class="form-label") }}{{
          form.message(class="form-control", style="height: 150px") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}
