<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    {% include 'favicon.html' %}

    <!-- Google Web Fonts -->
    {% include 'google-fonts.html' %}

    <!-- Icon Font Stylesheet -->
    {% include 'icon-font-stylesheet.html' %}

    <!-- Stylesheets -->
    {% include 'styles.html' %}
  </head>

  <body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <!-- Spinner Start -->
      {% include 'spinner.html' %}
      <!-- Spinner End -->

      <!-- Content Start -->
      <div class="content">
        <!-- Main Start -->
        <div class="container-fluid pt-4 px-4">
          <!-- 40X Start -->
          <div class="container-fluid">
            <div
              class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0"
            >
              <div class="col-md-6 text-center p-4">
                <i
                  class="bi bi-exclamation-triangle display-1 text-primary"
                ></i>
                <h1 class="display-1 fw-bold">{{ error_code }}</h1>
                <h1 class="mb-4">
                  {% if error_code == "403" %} Forbidden {% elif error_code ==
                  "404" %} Page Not Found {% else %} Error {% endif %}
                </h1>
                <p class="mb-4">
                  {% if error_code == "403" %} We’re sorry, the page you have
                  looked for requires Super User or Admin access! Contact the
                  portal's administrator for more information. {% elif
                  error_code == "404" %} We’re sorry, the page you have looked
                  for does not exist! Try again or return to the home page. {%
                  else %} We’re sorry, there was a problem with the page you
                  were on. Try again or contact the portal's administrator for
                  assistance. {% endif %}
                </p>
                <a
                  class="btn btn-primary rounded-pill py-3 px-5"
                  href="{{ url_for('core.index') }}"
                  >Go Back To Home</a
                >
              </div>
            </div>
          </div>
          <!-- 40X End -->
        </div>
        <!-- Main End -->

        <!-- Footer Start -->
        {% include 'footer.html' %}
        <!-- Footer End -->
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>

    {% include 'javascript.html' %}
  </body>
</html>
