<div class="container-fluid pt-4 px-4">
  <div class="bg-light rounded-top p-4">
    <div class="row">
      <div class="col-12 col-sm-6 text-center text-sm-start">
        OpenVolunteer is a free and open-source project under the
        <a href="https://opensource.org/license/mit">MIT License</a>.
      </div>
      <div class="col-12 col-sm-6 text-center text-sm-end">
        Made with love by the
        <a href="https://github.com/rodneygauna/openvolunteer">OpenVolunteer</a>
        project team.
      </div>
    </div>
  </div>
</div>
