<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-light navbar-light">
    <a href="{{ url_for('core.index') }}" class="navbar-brand mx-4 mb-3">
      <h3 class="text-primary">OpenVolunteer</h3>
    </a>
    <div class="navbar-nav w-100">
      <a href="{{ url_for('core.index') }}" class="nav-item nav-link"
        ><i class="fa fa-home me-2"></i>Home</a
      >
      {% if current_user.is_authenticated %}
      <a
        href="{{ url_for('notifications.view_notifications') }}"
        class="nav-item nav-link"
        ><i class="fa fa-bell me-2"></i>Notifications</a
      >
      <a href="{{ url_for('events.view_events') }}" class="nav-item nav-link"
        ><i class="fa fa-calendar me-2"></i>Events</a
      >
      {% if current_user.is_superuser_admin() %}
      <a
        href="{{ url_for('reports.generate_report') }}"
        class="nav-item nav-link"
        ><i class="fa fa-chart-line me-2"></i>Reports</a
      >
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          ><i class="fa fa-cog me-2"></i>Settings</a
        >
        <div class="dropdown-menu bg-transparent border-0">
          <a
            href="{{ url_for('settings.view_foundation') }}"
            class="dropdown-item"
            >Foundation</a
          >
          <a
            href="{{ url_for('settings.view_default_preferences') }}"
            class="dropdown-item"
            >Default Preferences</a
          >
          <a
            href="{{ url_for('settings.view_locations') }}"
            class="dropdown-item"
            >Saved Locations</a
          >
          <a href="{{ url_for('settings.view_users') }}" class="dropdown-item"
            >User Management</a
          >
          <a href="{{ url_for('waivers.view_waivers') }}" class="dropdown-item"
            >Waivers</a
          >
        </div>
      </div>
      {% endif %} {% else %}
      <a href="{{ url_for('users.login') }}" class="nav-item nav-link"
        ><i class="fa fa-sign-in-alt me-2"></i>Login</a
      >
      <a href="{{ url_for('users.register_user') }}" class="nav-item nav-link"
        ><i class="fa fa-user-plus me-2"></i>Register</a
      >
      {% endif %}
    </div>
  </nav>
</div>
