/* custom styles */

/* Alert Banner Container */
.alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Alert Banner */
.top-alert {
  /* center the banner */
  width: 80%;
  max-width: 800px;
  padding: 10px;
  margin-top: 10px;
}