{% extends '_base.html' %} {% block content %}
<div class="row g-4">
  <div class="col-sm-12">
    <div class="bg-light rounded h-100 p-4">
      <h6 class="mb-4">Organization Information</h6>
      <a
        href="{{ url_for('settings.create_organization') }}"
        class="btn btn-primary"
        >Edit Organization Information</a
      >
      <div class="mt-4">
        <p class="mb-2">Name</p>
        <h6 class="mb-0">{{ organization.name }}</h6>
      </div>
      <div class="mt-4">
        <p class="mb-2">Email</p>
        <h6 class="mb-0">{{ organization.email }}</h6>
      </div>
      <div class="mt-4">
        <p class="mb-2">Phone</p>
        <h6 class="mb-0">{{ organization.phone }}</h6>
      </div>
      <div class="mt-4">
        <p class="mb-2">Fax</p>
        <h6 class="mb-0">{{ organization.fax }}</h6>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="mt-4">
            <p class="mb-2">Address 1</p>
            <h6 class="mb-0">{{ organization.address_1 }}</h6>
          </div>
          <div class="mt-4">
            <p class="mb-2">Address 2</p>
            <h6 class="mb-0">{{ organization.address_2 }}</h6>
          </div>
          <div class="mt-4">
            <p class="mb-2">City</p>
            <h6 class="mb-0">{{ organization.city }}</h6>
          </div>
          <div class="mt-4">
            <p class="mb-2">State</p>
            <h6 class="mb-0">{{ organization.state }}</h6>
          </div>
          <div class="mt-4">
            <p class="mb-2">Postal Code</p>
            <h6 class="mb-0">{{ organization.postal_code }}</h6>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="mt-4">
            <p class="mb-2">Mailing Address 1</p>
            <h6 class="mb-0">{{ organization.mailing_address_1 }}</h6>
          </div>
          <div class="mt-4">
            <p class="mb-2">Mailing Address 2</p>
            <h6 class="mb-0">{{ organization.mailing_address_2 }}</h6>
          </div>
          <div class="mt-4">
            <p class="mb-2">Mailing City</p>
            <h6 class="mb-0">{{ organization.mailing_city }}</h6>
          </div>
          <div class="mt-4">
            <p class="mb-2">Mailing State</p>
            <h6 class="mb-0">{{ organization.mailing_state }}</h6>
          </div>
          <div class="mt-4">
            <p class="mb-2">Mailing Postal Code</p>
            <h6 class="mb-0">{{ organization.mailing_postal_code }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
