{% extends '_base.html' %} {% block content %}
<div class="row g-4">
  <div class="col-sm-12">
    <div class="bg-light rounded h-100 p-4">
      <h6 class="mb-4">User Management</h6>
      <a href="#" class="btn btn-primary">Add User</a>
      <table class="table table-striped">
        <thead>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Role</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td scope="row">
              <a
                href="{{ url_for('users.user_profile', user_id=current_user.id, first_name=current_user.first_name, last_name=current_user.last_name) }}"
                >{{ user.first_name }} {{ user.last_name }}</a
              >
            </td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.status }}</td>
            <td>
              <div class="btn-group" role="group">
                <a
                  href="{{ url_for('settings.change_role', user_id=user.id) }}"
                  class="btn btn-primary btn-sm"
                  >Change Role</a
                >
                <form
                  method="POST"
                  action="{{ url_for('settings.reset_password_route', user_id=user.id) }}"
                >
                  <button type="submit" class="btn btn-outline-primary btn-sm">
                    Reset Password
                  </button>
                </form>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
