{% extends "_base.html" %} {% block content %}
<div class="container-fluid pt-4 px-4">
  <div class="col-sm-12">
    <div class="bg-light rounded h-100 p-4">
      <h6 class="mb-4">Add/Edit Waiver</h6>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          {{ form.version.label(class="form-label") }} {{
          form.version(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.active_date.label(class="form-label") }} {{
          form.active_date(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.expiration_date.label(class="form-label") }} {{
          form.expiration_date(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.content.label(class="form-label") }} {{
          form.content(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ form.signature_consent.label(class="form-label") }} {{
          form.signature_consent(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }} {{ form.cancel(class="btn
        btn-secondary") }}
      </form>
    </div>
  </div>
</div>
{% endblock content%}
